<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%include 'adminheader.html'%}
    

    <!-- <h1>Welcome Admin</h1> -->
<!-- 
    <a href="/viewartist"><h4>view artists</h4></a>
    <a href="/viewuser"><h4>view users</h4></a>
    <a href="/viewfeedback"><h4>view feedback</h4></a>
    <a href="/viewcomplaint"><h4>view complaints</h4></a>
    <a href="/viewworks"><h4>view works</h4></a>
 -->

 <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="static/assets/img/pexels-karolina-grabowska-4041318.jpg" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>LYRIQUIN</h2>
            <p>чσu wíll вє α вєαutíful pєrѕσn</p>
            <a href="about.html" class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>

    {%include 'footer.html'%}
</body>
</html>