<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%include 'artistheader.html'%}


    <!-- <h1>welcome artist</h1>

    <a href="/viewuser"><h4>view users</h4></a>
    <a href="/viewrating"><h4>view ratings</h4></a>
    <a href="/viewpayment"><h4>view payments</h4></a>
    <a href="/viewguidance"><h4>view guidances</h4></a>
    <a href="/vieworders"><h4>view orders</h4></a>
    <a href="/viewfeedback"><h4>view feedback</h4></a>
    <a href="/manage_work"><h4>manage work</h4></a>
    <a href="/manage_tutorial"><h4>manage tutorial</h4></a> -->

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section">
    
          <img src="static/assets/img/pexels-karolina-grabowska-4041318.jpg" alt="" data-aos="fade-in">
    
          <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h2>LYRIQUIN</h2>
                <p>чσu wíll вє α вєαutíful pєrѕσn</p>
                <a href="about.html" class="btn-get-started">About Me</a>
              </div>
            </div>
          </div>
    
        </section><!-- /Hero Section -->
    
      </main>
    
        {%include 'footer.html'%}
</body>
</html>