<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <form  method="post">
        <table>
        <tr>
            <th>Title</th>
            <td><input type="text" name="ctitle"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><input type="text" name="cdesc"></td>
        </tr>
        <tr>
            <th>Reply</th>
            <td><input type="text" name="creply"></td>
        </tr>
        <tr>
            <th>Date</th>
            <td><input type="text" name="cdate"></td>
        </tr>
</body>
</html>