<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <form  method="post">
        <table>
        <tr>
            <th>Rating</th>
            <td><input type="text" name="rrating"></td>
        </tr>
        <tr>
            <th>Review</th>
            <td><input type="text" name="rreview"></td>
        </tr>
        <tr>
            <th>Date</th>
            <td><input type="text" name="rdate"></d>
        </tr>
      
</body>
</html>